* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    background-color: transparent;
}


body {
    background-color: black;
    color: white;
    overflow: hidden;
}

.startUpAnimation {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url("../Assets/EntryBackground2.jpeg") no-repeat;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    z-index: 1000;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    animation: entryAnimation 1s linear 1 forwards;


    >.assets {
        padding: 4rem 5rem;
        box-shadow: 0 0 35px white;
        border: 3px solid white;
        border-radius: 20px;
        backdrop-filter: blur(6px);
        display: flex;
        flex-direction: column;
        gap: 2rem;

        >.topAssets {
            width: 100%;

            >.startUpHeading {
                font-size: 3rem;
            }

            >.credit {
                font-size: 1.5rem;

                >p>span {
                    font-weight: 700
                }
            }
        }

        >.bottomAssets {
            >.enterBtn {
                display: flex;
                justify-content: center;
                align-items: center;

                >button {
                    /* background-color: #001aff; */
                    background-color: #efefef;
                    font-size: 19px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    border: 2px solid white;
                    outline: 0;
                    padding: 8px 16px;
                    cursor: pointer;
                    border-radius: 6px;
                    transition: 0.3s ease;

                    &:hover {
                        box-shadow: 0 0 55px white;
                    }
                }
            }
        }
    }
}

.closeStartUpAnimation {
    animation: exitAnimation 1s ease-in-out 1 forwards;
}

@keyframes entryAnimation {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes exitAnimation {
    from {
        left: 0%;
    }

    to {
        left: 100%;
        display: none;
    }
}

.alarmPopUp {
    height: 100dvh;
    width: 100dvw;
    background-color: black;
    position: absolute;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;

    >.popUpTime {
        >h1 {
            font-size: 6rem;
            filter: drop-shadow(0px 0px 10px gold);
            text-shadow: 0px 0px 90px gold;
        }

        >span {
            font-size: 1.5rem;
        }
    }

    >.popUpNote {
        max-height: 50vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        >p {
            font-size: 2.5rem;
            font-weight: 700;
            text-align: center;
        }
    }

    >.alarmStop {
        >button {
            border: 0;
            outline: 0;
            /* background-color: rgb(0, 110, 255); */
            background-color: rgb(231, 231, 231);
            font-weight: 600;
            font-size: 2rem;
            padding: 0.5rem 3rem;
            border-radius: 10px;
            cursor: pointer;
            /* box-shadow: 0px 0px 30px rgb(0, 110, 255); */
            box-shadow: 0px 0px 30px white;
            transition: 0.2s ease;

            &:hover {
                /* background-color: rgb(66, 148, 255); */
                background-color: rgb(255, 255, 255);
            }
        }
    }
}

.alarmPopUpShow {
    display: flex;
    animation: popUpAnimation 0.3s linear 1 forwards;
}

@keyframes popUpAnimation {
    from {
        background-color: transparent;
        opacity: 0;
        filter: blur(10px);
    }

    to {
        background-color: black;
        opacity: 1;
        filter: blur(0);
    }
}

.heading {
    opacity: 0;
    border-bottom: 1px solid #2e2e2e;
    padding: 0.8rem 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 10px 1rem;
    opacity: 0;

    >.alarmContainer {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 10px;
        padding: 0 5px 0 0;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: rgb(68, 68, 68);
        }

        >.noAlarm {
            display: none;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;

            >img {
                height: 15rem;
                animation: popEntry 0.3s ease-in 1 forwards;
            }

            >span {
                font-size: 22px;
                color: #bababa;
                animation: popEntry 0.3s ease-in 1 forwards;
            }
        }

        .noAlarmShow {
            display: flex;
        }

        >.alarm {
            position: relative;
            background-color: rgb(47, 47, 47);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 10px;
            border-radius: 10px;
            cursor: pointer;

            >.leftContent {
                display: flex;
                gap: 2px;
                flex-direction: column;

                >.leftTop {
                    display: flex;
                    align-items: end;
                    gap: 3px;

                    >h5 {
                        margin-bottom: 5px;
                    }
                }

                >.leftBottom {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 5px;

                    >p {
                        font-size: 13px;
                        opacity: 0.85;
                    }
                }
            }

            >input {
                display: none;
            }

            >label>.rightContent {
                >.button {
                    width: 40px;
                    background-color: rgb(89, 89, 89);
                    border-radius: 30px;
                    padding: 3px;
                    display: flex;
                    align-items: center;
                    transition: all 0.2s linear;
                    cursor: pointer;

                    >.buttonDot {
                        height: 18px;
                        width: 18px;
                        border-radius: 50%;
                        background-color: white;
                        transition: all 0.2s linear;
                    }

                    >.dotActive {
                        transform: translateX(90%);
                    }
                }

                >.buttonActive {
                    background-color: rgb(43, 103, 255);
                }
            }
        }

    }

    >.addAlarm {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: min-content;
        text-align: center;
        background-color: rgb(43, 103, 255);
        font-size: 2.5rem;
        border-radius: 50%;
        padding: 4px 15px;
        cursor: pointer;
    }
}

@keyframes popEntry {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.alarmEventContainer {
    background-color: #2E2E2E;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    transition: all 0.3s ease-out;

    >.alarmEventTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 25px;

        >.eventCancel::after {
            content: "Cancel";
            color: #5B92E8;
            cursor: pointer;
            font-size: 1.3rem;
        }

        >.newEvent::after {
            content: "New alarm";
            font-size: 1.3rem;
        }

        >.eventDone::after {
            content: "Done";
            color: #5B92E8;
            cursor: pointer;
            font-size: 1.3rem;
        }
    }

    >.eventSelection {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        overflow: hidden auto;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        >.timers {
            background-color: #434343;
            padding: 1.5rem 2.1rem;
            border-radius: 5px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            >input {
                background-color: #5f5f5f;
                padding: 1rem;
                border-radius: 5px;
                color: white;
                font-size: 1.3rem;
                font-weight: bold;
                letter-spacing: 5px;
                border: 2px solid transparent;
                transition: all 0.2s linear;
                cursor: pointer;
                outline: 0;

                &::-webkit-calendar-picker-indicator {
                    background-color: #fff;
                    border-radius: 3.5px;
                    cursor: pointer;
                }

                &::selection {
                    background-color: transparent;
                }

                &:focus {
                    border-color: #787878;
                }
            }

            >label {
                position: absolute;
                right: 65px;
                cursor: pointer;

                >i {
                    font-size: 1rem;
                    background-color: #414141;
                    padding: 5px;
                    border-radius: 50%;
                }
            }
        }

        >.alarmInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 15px;
            background-color: #434343;
            padding: 0.7rem 1rem;
            border-radius: 8px;

            >.alarmName {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: end;

                >input {
                    background-color: transparent;
                    border: 0;
                    outline: 0;
                    color: #fff;
                    border-bottom: 1px solid #5f5f5f;
                    padding: 5px 20px 5px 0;
                    font-size: 1.14rem;
                    transition: all 0.1s linear;
                    caret-color: #5B92E8;

                    &:focus {
                        border-color: #287aff;
                    }

                    &::placeholder {
                        color: #909090;
                        font-size: 17px;
                    }

                    &::selection {
                        background-color: #438699;
                    }
                }

                >i {
                    position: absolute;
                    font-size: 13px;
                    color: #434343;
                    background-color: #909090;
                    padding: 3.5px 4px 2.6px 4px;
                    border-radius: 50%;
                    cursor: pointer;
                    transform: scale(0);
                    transition: all 0.1s linear;

                    &:hover {
                        background-color: #9c9c9c;
                    }
                }

                >.resetShow {
                    transform: scale(1);
                }
            }

            >.ringtone {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #5f5f5f;
                padding-bottom: 5px;
                cursor: pointer;

                >.ringtoneLeft {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    gap: 3px;

                    >.ringtoneInfo {
                        >span {
                            color: #909090;
                            font-size: 14px;
                        }
                    }
                }

                >.ringtoneRight {
                    >i {
                        color: #909090;
                        transition: all 0.2s linear;
                    }

                    >.hide {
                        transform: rotate(-180deg);
                    }
                }
            }

            >.ringtoneLists {
                width: 100%;
                height: 0;
                overflow-y: auto;
                transition: height 0.2s linear;

                &::-webkit-scrollbar {
                    display: none;
                }

                >form {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    gap: 10px;

                    >label {
                        width: 100%;
                        cursor: pointer;

                        >.song {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            >.songLeft {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 8px;

                                >.songImg {
                                    background-color: #fff;
                                    border-radius: 5px;

                                    >img {
                                        height: 30px;
                                        object-fit: contain;
                                    }
                                }
                            }

                            >.songRight {
                                >input {
                                    cursor: pointer;
                                    outline: 0;
                                }
                            }
                        }
                    }
                }
            }

            >.showSongs {
                height: 166px;
            }
        }
    }
}

.showAlarmEventContainer {
    top: 0;
}

/* Media Queries */

@media screen and (max-width:650px) {
    .startUpAnimation {
        >.assets {
            padding: 2rem;

            >.topAssets {
                >.startUpHeading {
                    font-size: 1.5rem;
                }

                >.credit {
                    font-size: 1rem;
                }
            }

            >.bottomAssets {
                >.enterBtn {
                    >button {
                        font-size: 14px;
                        padding: 6px 12px;
                    }
                }
            }
        }
    }

    .alarmPopUp {
        >.popUpNote {
            >p {
                font-size: 1.3rem;
            }
        }
    }
}